@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
main{
	font-family: 'Amatic SC', cursive;
	font-size:25px;
}
body{
	background: url(fon.jpg) fixed;
}
.logo{
	position: absolute;
	border: 5px solid black;
	background-color: white;
}
.navigate{
	margin: 2%;
	color:white;
}
.navigation{
	background-color: black;
	color:white;
	width: 700px;
	text-align: center;
	margin: 0 auto;
	height: 50px;
	font-size: 35px;
	margin-bottom: 20px;
	background: linear-gradient(197deg, rgba(0,0,0,1) 15%, rgba(20,68,238,1) 95%);
}
.categories{
	margin-top: 60px;
	border:5px solid black;
	width:100px;
	float:left;
	color:white;
	background-color: black;
	background: linear-gradient(197deg, rgba(0,0,0,1) 15%, rgba(20,68,238,1) 95%);
}
.textform{
	
	margin: 0 auto;
	width:900px;
	background-color: white;
}
.text{
	
	margin: 0 auto;
	width:1000px;
	border:5px solid black;
	background-color: white;
}
.image{
	padding-bottom: 100px;
}